@import "~@angular/material/theming";

/* For use in src/lib/core/theming/_palette.scss */
$brand-green: (
  50 : #e0f2f1,
  100 : #b3e0db,
  200 : #80cbc4,
  300 : #4db6ac,
  400 : #26a69a,
  500 : #009688,
  600 : #008e80,
  700 : #008375,
  800 : #00796b,
  900 : #006858,
  A100 : #97ffec,
  A200 : #64ffe3,
  A400 : #31ffda,
  A700 : #18ffd5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$brand-blue-gray: (
  50 : #e9ebec,
  100 : #c7ced1,
  200 : #a2adb2,
  300 : #7d8c93,
  400 : #61737b,
  500 : #455a64,
  600 : #3e525c,
  700 : #364852,
  800 : #2e3f48,
  900 : #1f2e36,
  A100 : #7dcdff,
  A200 : #4abaff,
  A400 : #17a7ff,
  A700 : #009cfc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($brand-blue-gray);
$app-accent:  mat-palette($brand-green);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
//$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);


$background:  map-get($app-theme, background);
$foreground:  map-get($app-theme, foreground);
