<mat-sidenav-container class="page" autosize="">
  <div class="content">


    <form [formGroup]="form">
      <app-timepicker formControlName="time"></app-timepicker>
    </form>


    <pre>Form is Valid: {{form.valid}} <br>
      Form value: {{form.value | json  }} <br>
      <br><br>Control Errors: {{form.get('time').errors | json}}
    </pre>


    <router-outlet></router-outlet>
  </div>
  <mat-sidenav class="sidenav" opened="true" mode="side">
    <app-menu></app-menu>
  </mat-sidenav>
</mat-sidenav-container>


